/* ===== Reset styling ===== */
a {
    text-decoration: none;
    color: black;
}

/* ===== ^ Reset styling ^ ===== */


/* ===== Text Styles ===== */
.background-container h1,
.background-container h2,
.form-text,
label
 {
    color:white;
}

label {
    font-size: 18px;
}

h1 {
    background-color: grey;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 20px 0;
    border: 1px solid green;
}

/* ===== ^ Text Styles ^ ===== */


/* ===== Main Container ===== */
.background-container {
    display: flex;
    background-image: url("images/background.jpg");
    width: calc(850px + 40vw);
    height: 100%;
    height: auto;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
    background-attachment: fixed;
}

.form-container {
    background-color: #3A3B3C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    width: 650px;
    border: 1px solid green;
    gap: 10px;


}

.form-text {

}

.form-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

[type='text'], [type='email'], [type='password'] {

}

[type='checkbox'] {

}

[type='submit'] {

}



/* ===== ^ Main Container ^ ===== */


/* ===== Footer ===== */

.bottom-bar {

}

.logo {

}

.footer-text {

}

/* ===== ^ Footer ^ ===== */