/* ===== Reset styling ===== */
a {
    text-decoration: none;
    color: black;
}

/* ===== ^ Reset styling ^ ===== */


/* ===== Text Styles ===== */
body {
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.background-container h1,
.background-container h2,
.form-text,
label
 {
    color:white;
}

label {
    font-size: 18px;
}

h1 {
    font-family: "Water Brush", BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    padding: 0;
    margin: 0;

}

a {
    color: #ffda00;
}

a:hover {
    color: #a99211;
}

.checkbox-terms label {
    /* Flex container made the checkbox positioning off center */
    margin-top: 6px;
}
/* ===== ^ Text Styles ^ ===== */


/* ===== Main Container ===== */
.background-container {
    display: flex;
    flex-direction: column;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    width: calc(850px + 40vw);
    height: 100%;
    height: auto;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 130px;
    background-attachment: fixed;
    
}

.form-container {
    background-color: rgba(21, 22, 26, 0.85);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    width: 650px;
    border: 4px solid rgba(21, 22, 26, 1);
    rgba: (0, 0, 0, 0.75);
    gap: 10px;


}

.form-text {

}

.align-middle {
    margin-top: 10px;
    align-self: center;
}

.form-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

[type='text'], [type='email'], [type='password'] {
    background-color: #000;
    color: #fff;
    border: 0.0625rem solid rgba(16, 29, 35, 1);
    border-radius: 5px;
    height: 34px;

}

input[type='text']:valid,
input[type='email']:valid,
input[type='password']:valid {
    border: 1px solid rgb(88, 168, 88);
}

[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #000;
    color: #fff;
    margin-top: 10px;
    background-color: #393b3d;
}

input[type="checkbox"]::before {
    content: "✔";
    font-size: 1.2 rem;
    right: -1px;
    top: -0.3rem;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled{
    border-color: #000;
    background: #ddd;
    color: gray;
}
[type='submit'] {

    background-color: rgb(255, 255, 255);
    color: #393b3d;
    align-self: center;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 95%;
    font-family: inherit;
    font-size: 20px;
    margin: 10px 0;
    padding: 5px 10px;

}

[type='submit']:hover {
    background-color: rgb(253, 229, 229);
    border: 2px solid rgb(253, 229, 229);
    cursor: pointer;
}

.checkbox-terms {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}


/* ===== ^ Main Container ^ ===== */


/* ===== Footer ===== */

.bottom-bar {
    background-color:#012230;
    box-shadow: inset 0 0.625rem 0.6875rem 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    gap: 12px;
    padding: 40px 0;
    width: calc(850px + 40vw);
}

.logo {
    margin-left: 16px;
    border-top: 4px dotted #fff;
    border-left: 4px dotted #fff;
    border-right: 4px dotted #fff;
    border-bottom: 4px solid #fff;

    padding: 20px 10px;

}

.footer-text {
    margin-right: 16px;
    align-self: center;

}

.bottom-bar a {
    align-self: center;
}

/* ===== ^ Footer ^ ===== */