/* ===== Text Styles ===== */


/* ===== ^ Text Styles ^ ===== */


/* ===== Main Container ===== */
.background-container {
    display: flex;
    background-image: url("images/background.jpg");
    width: calc(1200px + 40vw);
    height: auto;
    justify-content: center;
}

.form-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    border: 1px solid green;


}

.social-button {

}

.form-text {

}

.form-layout {
    display: flex;
    flex-direction: column;

}

[type='text'], [type='email'], [type='password'] {


}

[type='checkbox'] {

}

[type='submit'] {

}



/* ===== ^ Main Container ^ ===== */


/* ===== Footer ===== */

.bottom-bar {

}

.logo {

}

.footer-text {

}

/* ===== ^ Footer ^ ===== */